@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600&family=Patua+One&display=swap');

body {
  font-family: 'Fira Sans', sans-serif !important;
}

h1, h2, h3, h4, h5, h6, .toctree-wrapper .caption .caption-text {
  font-family: 'Patua One', cursive;
  font-size: 2.2rem;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
  color: #48b2f0;
}

.wy-nav-content-wrap {
  background: #e2e7e9
}

.wy-nav-content {
  background: #f1f3f4;
}

.wy-nav-side {
  background: rgba(0, 0, 0, 0.75)
}

.wy-nav-top, .wy-side-nav-search {
  background-color: #48b2f0;
}
