@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,600;1,400&family=Staatliches&display=swap');

body {
  font-family: 'Fira Sans', sans-serif !important;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, .caption-text {
  font-family: 'Staatliches', cursive;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
  color: #48b2f0;
}

.wy-nav-content-wrap {
  background: #f5f5f5
}

.wy-nav-content {
  background: #fff
}

.wy-nav-side {
  background: rgba(0, 0, 0, 0.75)
}

.wy-nav-top, .wy-side-nav-search {
  background-color: #48b2f0;
}
